.registor{
    background-color: rgba(255, 200, 0, 0.25);

}
.r-btn{
    background: linear-gradient(45deg, #d2582b, #001f03);
    border: none;
    padding: 10px 50px;
    margin-right: 5px;
    color: #fff;
}
.error-code{
    color: orange;
}